/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bag {
    @apply flex items-center justify-center box-border   bg-slate-200 my-16  mx-auto;
    width: 200px;
    height: 200px;
  }
  .card {
    @apply flex items-center justify-center box-border  sm:m-20 bg-slate-600 md:m-auto;

    width: 200px;
    height: 250px;
    display: flex;

    max-width: 24rem;
    margin: 450px;
    padding: 0rem;

    background-color: #ebf1f1;
    /* box-shadow:
      -30px 20px 100px -30px rgba(235, 82, 17, 0.55),
      80px 20px 100px -50px rgba(189, 59, 59, 0.55); */
  }
  .btn {
    @apply hover:bg-pink-600   pr-10  rounded-full py-1 px-3 hover:text-white  text-gray-500   ring-4 ring-gray-300 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300   hover:shadow-red-500 hover:ring-0;
  }
}
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
